* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "fira code";
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #120e08;
    border-bottom: 2px solid #6f5a3d;
}

#clock, #pulseaudio, #network, #tray, #battery {
    margin: 8px 6px 8px 0px;
    padding: 2px 8px;
    color: #c3a881;
}

#workspaces {
    margin: 8px 0px 8px 6px;
}

#workspaces button {
    all: initial;
    padding: 0px 6px;
    color: #6f5a3d;
}

#workspaces button.focused {
    color: #c3a881;
}

#workspaces button.urgent,
#battery.warning, #battery.critical, #battery.urgent {
    background-color: #a68d6a;
    border: 2px solid #6f5a3d;
    color: #120e08;
}
